<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="ConexioBD" connectionString="Data Source=JendryJ\ELISQL;Initial Catalog=GESTION_ESCOLAR;Integrated Security=True;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
  <add name="CAPA_PRESENTACION.Properties.Settings.GestionEscolarConnectionString"
   connectionString="Data Source=JENDRYJ\ELISQL;Initial Catalog=GestionEscolar;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>


